# Laravel
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Laravel specific
bootstrap/cache/*
!bootstrap/cache/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
!storage/framework/cache/data
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/app/*
!storage/app/.gitkeep
!storage/app/public
!storage/app/private
storage/app/public/*
!storage/app/public/.gitkeep
storage/app/private/*
!storage/app/private/.gitkeep

# OS Files
.DS_Store
Thumbs.db
*.swp
*~

# PHP
composer.phar
/composer.lock
